
<div class="row mt-4">
  <div class="col">
    <h4 class="mb-0">
      Creatives
      <button type="button" class="float-right btn btn-outline-primary btn-sm" {{action "add"}}>
        {{-ion 'android-add'}} Add
      </button>
    </h4>
  </div>
</div>
<hr>

<div class="row mb-4">
  <div class="col">
    {{#each creatives as |creative|}}
      {{campaign-creative campaign=campaign creative=creative}}
    {{/each}}
  </div>
</div>
