
<div class="row mt-4">
  <div class="col">
    <h4 class="mb-0">
      Schedules
      <button type="button" class="float-right btn btn-outline-primary btn-sm" {{action "create"}}>
        {{-ion 'android-create'}} Create
      </button>
    </h4>
  </div>
</div>
<hr>

{{#each schedules as |schedule|}}
{{/each}}
