<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Name</label>
      {{input type="text" required=true value=model.name class="form-control" id="name" placeholder="Name"}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Template</label>
      {{ember-ace
        lines=20
        value=model.html
        theme="ace/theme/monokai"
        mode="ace/mode/handlebars"
        useSoftTabs=true
        tabSize=2
        useWrapMode=false
        showPrintMargin=false
        update=(action (mut model.html))
      }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group mb-0">
      <label for="name">Fallback Template</label>
      {{ember-ace
        lines=20
        value=model.fallback
        theme="ace/theme/monokai"
        mode="ace/mode/handlebars"
        useSoftTabs=true
        tabSize=2
        useWrapMode=false
        showPrintMargin=false
        update=(action (mut model.fallback))
      }}
    </div>
  </div>
</div>
