@import "node_modules/bootswatch/dist/flatly/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ionicons/css/ionicons";
@import "node_modules/bootswatch/dist/flatly/bootswatch";
@import "_loading.scss";

.icon {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}

.icon-lg {
  width: 100px;
  height: 100px;
}

.icon-md {
  width: 50px;
  height: 50px;
}

.icon-sm {
  width: 20px;
  height: 20px;
}

.dropdown-item.flex {
  display: flex !important;
}

.tenant-action {
  display: inline-block;
  vertical-align: bottom;
  height: 24px;
}

.fixed-bottom {
  right: 0;
  bottom: 0;
  left: 0;
}

.fixed-bottom.create {
  left: inherit;
}

@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";
@import "ember-power-calendar";

.ember-power-calendar {
  @include ember-power-calendar($cell-size: 30px);
}

.ember-basic-dropdown-content {
  z-index: 10000;
}

.card .ember-power-calendar {
  min-height: 300px;
}

fieldset {
  border: 1px solid $gray-400;
  padding: 1em;
  position: relative;
}

legend {
  display: inline-block;
  width: auto;
  font-size: inherit;
}

.tab-content {
  padding: 1em;
  border: 1px solid #dee2e6;
  border-top: none;
}

.mh-100 {
  min-height: 100%;
}
