<div class="row">
  <div class="col">
    <div class="focal-point-wrapper">
      {{campaign-creative/image-focal-point src=src on-click=(action "setFocalPoint")}}
      {{#if isFocalPointModified}}
        <button class="btn btn-sm btn-warning" title="Clear Focal Point" {{action "clearFocalPoint"}}>
          {{entypo-icon "cross"}}
        </button>
      {{/if}}

    </div>
    <small class="text-muted">
      Click in the image to set the focal point
    </small>
  </div>
</div>
