<div class="row justify-content-center">
  <div class="col">
    <h2>
      <img src="{{tenant.photoURL}}" class="icon icon-lg mr-4" alt={{tenant.name}}>
      {{#if tenant}}
        {{tenant.name}}
      {{else}}
        New Tenant
      {{/if}}
    </h2>
  </div>
</div>

<hr>
