<div class="row">
  <div class="col">
    {{partial "story/fields/title"}}
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    {{partial "story/fields/advertiser"}}
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label for="start">Published Date</label>
      {{story-published-at
        publishedAt=form.model.publishedAt
        onSelect=(action form.actions.setAndAutosave "publishedAt")
      }}
    </div>
  </div>
</div>
