{{partial "story/forms/create"}}
<hr>
<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="teaser">Teaser</label>
      {{textarea
        value=form.model.teaser
        class="form-control"
        id="teaser"
        placeholder="Teaser"
        focusOut=(action form.actions.autosave)
      }}
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      {{froala-editor
        content=form.model.body
        on-blur=(action form.actions.autosave)
        update=(action (mut form.model.body))
        options=(hash
          paragraphFormat=(hash
            N="Normal"
            H2="Heading 2"
            H3="Heading 3"
          )
        )
      }}
    </div>
  </div>
</div>
