<div class="row">
  <div class="col">
    {{#image-uploader
      isLoading=isActionRunning
      onUploadStart=(action (mut form.model.primaryImage null))
      onUploadSuccess=(action form.actions.setAndAutosave "primaryImage") as |uploader|
    }}
      <div class="form-group">
        <label for="creative-image">Upload Image</label>
        <div class="custom-file">
          {{input-file
            id="creative-image"
            class="custom-file-input"
            accept=uploader.accept
            disabled=isActionRunning
            on-files-changed=(action uploader.actions.upload)
          }}
          <label class="custom-file-label" for="customFile">Choose file</label>
          <div class="invalid-feedback">
            Please select an image for upload.
          </div>
        </div>
      </div>
      {{#if uploader.error}}
        <div class="alert alert-danger mt-3 mb-0" role="alert">
          <strong>Oh Snap!</strong> {{uploader.error.message}}
        </div>
      {{/if}}
    {{/image-uploader}}
  </div>
</div>

{{#if form.model.primaryImage}}

  <div class="row">
    <div class="col-8">
      <h6>Image</h6>
      <small class="d-block">Click the image to set the focal point.</small>
      {{campaign-creative/image
        class="clickable"
        image=form.model.primaryImage
        onFocalPointChange=(action form.actions.autosave)
      }}
    </div>
    <div class="col-4">
      <h6>Preview</h6>
      {{#image-crop-preview as |aspectRatios|}}
        {{#each aspectRatios as |aspectRatio|}}
          {{#image-crop
            class="mb-3"
            imgClass="img-thumbnail img-fluid"
            aspectRatio=aspectRatio
            originalSrc=form.model.primaryImage.src
            fpX=form.model.primaryImage.focalPoint.x
            fpY=form.model.primaryImage.focalPoint.y
          }}
            <small class="d-block">{{aspectRatio}}</small>
          {{/image-crop}}
        {{/each}}
      {{/image-crop-preview}}
    </div>
  </div>

{{/if}}

