<div class="row">
  <div class="col">
    <h3 class="mb-0">
      Modify Campaign
      <div class="float-right">
        {{#-bs/button "success" class="float-right" size="small" outline=true click=(route-action "update" model "campaign") disabled=(eq canSave false)}}
          {{-ion "checkmark-round"}} Save
        {{/-bs/button}}
        {{#-bs/button "danger"  class="float-right mr-1" size="small" outline=true click=(route-action "hardDelete" model "campaign.index")}}
          {{-ion "android-close"}} Delete
        {{/-bs/button}}
        {{#-bs/button "secondary"  class="float-right mr-1" size="small" outline=true click=(route-action "linkTo" "campaign.index")}}
          {{-ion "android-arrow-back"}} Back
        {{/-bs/button}}
      </div>
    </h3>
  </div>
</div>
<hr>

<div class="row">
  <div class="col">
    <ul class="nav nav-tabs" role="tablist">
      {{#link-to "campaign.edit.index" model.id class="nav-item nav-link" role="tab"}}Campaign Details{{/link-to}}
      {{#link-to "campaign.edit.criteria" model.id class="nav-item nav-link" role="tab"}}Targeting Criteria{{/link-to}}
      {{#link-to "campaign.edit.creatives" model.id class="nav-item nav-link" role="tab"}}Creatives{{/link-to}}
      {{#link-to "campaign.edit.notifications" model.id class="nav-item nav-link" role="tab"}}Notifications{{/link-to}}
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" role="tabpanel">
        {{ outlet }}
      </div>
    </div>
  </div>
</div>
