{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "campaign.index"}}{{entypo-icon "calendar"}} Campaigns{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{model.name}} ({{model.advertiser.name}}){{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="card model-form">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills" role="tablist">
      <li class="nav-item">{{#link-to "campaign.edit.index" model.id class="nav-link" role="tab"}}Details{{/link-to}}</li>
      <li class="nav-item">{{#link-to "campaign.edit.criteria" model.id class="nav-link" role="tab"}}Targeting{{/link-to}}</li>
      <li class="nav-item">{{#link-to "campaign.edit.creatives" model.id class="nav-link" role="tab"}}Creatives{{/link-to}}</li>
      <li class="nav-item">{{#link-to "campaign.edit.notifications" model.id class="nav-link" role="tab"}}Notifications{{/link-to}}</li>
    </ul>
  </div>
  {{outlet}}
</div>
