<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Name</label>
      {{input type="text" value=model.name class="form-control" id="name" placeholder="Name"}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Advertiser</label>
      {{#unless model.advertiser.id}}
        {{input type="text" value=model.advertiserId class="form-control" id="advertiser" placeholder="Advertiser"}}
      {{else}}
        {{input type="text" readonly=true class="form-control-plaintext" value=model.advertiser.name}}
      {{/unless}}
    </div>
  </div>
</div>
