{{#link-to 'campaign.edit' model.id class='list-group-item list-group-item-action flex-column align-items-start'}}
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{model.name}}</h5>


  </div>
  <div class="mb-1">{{model.advertiser.name}}</div>
  <small>{{model.id}}</small>
  {{campaign-status value=model.status}}


{{/link-to}}
