<div class="card-body">
  {{story/primary-image storyId=model.id image=model.primaryImage}}
</div>
<div class="card-footer text-right">
  {{#if model.primaryImage}}
    {{confirm-button
      icon="cross"
      label="Remove Image"
      class="btn-danger"
      disabled=isFormDisabled
      onConfirm=(action "removePrimaryImage" model.id)
    }}
  {{/if}}
</div>

