{{partial "manage/story/forms/create"}}
<hr>
<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="teaser">Teaser</label>
      {{textarea
        value=form.model.teaser
        class="form-control"
        id="teaser"
        placeholder="Teaser"
        focusOut=(action form.actions.autosave)
        keyUp=(action form.actions.autosave 750)
      }}
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      {{story-editor value=form.model.body storyId=form.model.id update=(action form.actions.setAndAutosave "body")}}
    </div>
  </div>
</div>
