<nav class="navbar navbar-expand fixed-bottom navbar-light bg-light app-navbar z-depth-1-half-inverse">
  <div class="mx-auto">
    {{!-- {{#-bs/button 'secondary' class='fixed-bottom' click=(route-action 'scrollToTop')}}{{-ion 'chevron-up'}}{{/-bs/button}} --}}
    {{outlet "actions"}}
  </div>
</nav>
