{{#if session.isAuthenticated}}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">
      <img src="{{user.model.photoURL}}" class="icon icon-sm mr-1">
      {{user.model.firstName}} {{user.model.lastName}}
      </a>

    <div class="dropdown-menu dropdown-menu-right">
      {{#link-to "app.settings" class="dropdown-item" title="Settings"}}Settings{{/link-to}}
      <div class="dropdown-divider"></div>
      {{#link-to "app.logout" class="dropdown-item" title="Logout"}}
        <i class="material-icons">power_settings_new</i>
        Logout
      {{/link-to}}
    </div>
  </li>
{{else}}
  {{#link-to "login" class="nav-item nav-link "}}Log in{{/link-to}}
{{/if}}
