<div class="row">
  <div class="col">
    {{-report/story/chart
      isLoading=isReportRunning
      rows=rows
      oninsert=(action "runByDayReport")
      onchange=(action "runByDayReport")
    }}
  </div>
</div>
