<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Name</label>
      {{input type="text" value=model.name class="form-control" id="name" placeholder="Name" autofocus=true}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Logo URL</label>
      {{input type="text" value=model.logo class="form-control" id="logo" placeholder="https://some.domain/image.extension"}}
    </div>
  </div>
</div>
