{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "manage.advertiser.index"}}{{entypo-icon "news"}} Advertisers{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.name }}{{#if model.deleted}} (<span class="text-danger">Deleted</span>){{/if}}{{/crumbs.item}}
{{/nav-breadcrumbs}}


<div class="card model-form">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills" role="tablist">
      <li class="nav-item">{{#link-to "manage.advertiser.edit.index" model.id class="nav-link" role="tab"}}Details{{/link-to}}</li>
      <li class="nav-item">{{#link-to "manage.advertiser.edit.stories" model.id class="nav-link" role="tab"}}Stories{{/link-to}}</li>
      <li class="nav-item">{{#link-to "manage.advertiser.edit.campaigns" model.id class="nav-link" role="tab"}}Campaigns{{/link-to}}</li>
    </ul>
  </div>
  {{outlet}}
</div>
