<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Name</label>
      {{input type="text" required=true value=model.name class="form-control" id="name" placeholder="Name" autofocus=true}}
    </div>
    <div class="form-group mb-0">
      <label for="logo">Logo Url</label>
      {{input type="url" value=model.logo class="form-control" id="logo" placeholder="Logo Url" autofocus=true}}
    </div>
  </div>
</div>

