{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "story.index"}}{{entypo-icon "open-book"}} Stories{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.title }} ({{model.advertiser.name}}){{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="card model-form">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills" role="tablist">
      <li class="nav-item">{{#link-to "story.edit.index" model.id class="nav-link" role="tab"}}Details{{/link-to}}</li>
      <li class="nav-item">{{#link-to "story.edit.primary-image" model.id class="nav-link" role="tab"}}Primary Image{{/link-to}}</li>
    </ul>
  </div>
  {{outlet}}
</div>
