<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="title">Title {{required-field-label}}</label>
      {{input
        type="text"
        required=true
        value=form.model.title
        class="form-control"
        id="title"
        placeholder="Title"
        autofocus=true
        focusOut=(action form.actions.autosave)
      }}
      <div class="invalid-feedback">
        Please provide a title for the story.
      </div>
    </div>
    <div class="form-group">
      <label for="teaser">Teaser</label>
      {{input
        type="text"
        value=form.model.teaser
        class="form-control"
        id="teaser"
        placeholder="Teaser"
        autofocus=true
        focusOut=(action form.actions.autosave)
      }}
      <div class="invalid-feedback">
        Please provide an teaser.
      </div>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      {{textarea
        rows="20"
        value=form.model.body
        class="form-control"
        id="body"
        placeholder="Body"
        autofocus=true
        focusOut=(action form.actions.autosave)
      }}
      <div class="invalid-feedback">
        Please provide an story body.
      </div>
    </div>
  </div>
</div>
