
<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="url">Link Url</label>
      {{input type="text" value=model.linkUrl class="form-control" id="url" aria-describedby="urlHelp" placeholder="Link Url"}}
      <small id="urlHelp" class="form-text text-muted hide">Link Url.</small>
    </div>
    <div class="form-group">
      <label for="name">Title</label>
      {{input type="text" value=model.title class="form-control" id="name" aria-describedby="nameHelp" placeholder="Story Title" disabled=model.externalSource}}
      <small id="nameHelp" class="form-text text-muted hide">Story Title.</small>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {{#-bs/button 'success' click=(route-action 'save' model)}}
      {{-ion 'checkmark-round'}} Save
    {{/-bs/button}}
  </div>
</div>
