<div class="card">
  <div class="card-body">
    <span class="h5 font-weight-bold text-uppercase text-danger">
      Campaign
    </span>
    <span class="text-muted">
      {{ campaign.advertiser.name }} | {{moment-format campaign.criteria.start "MM/DD/YYYY"}}{{#if campaign.criteria.end}}
      - {{moment-format campaign.criteria.end "MM/DD/YYYY"}}{{/if}} {{#if campaign.description}} | {{
      campaign.description }} {{/if}}
    </span>
  </div>
</div>
