<h5 class="card-title font-weight-bold text-uppercase text-danger mb-0">
  Campaign
</h5>
<div class="text-muted mb-3">
  {{moment-format campaign.criteria.start "MM/DD/YYYY"}}{{#if campaign.criteria.end}} - {{moment-format
  campaign.criteria.end "MM/DD/YYYY"}}{{/if}} {{#if campaign.description}} | {{ campaign.description }} {{/if}}
</div>
