<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      {{campaign-creative/preview-grid class="col-md-6 col-xl-3" creative=creative campaign=campaign}}
      <div class="col-md-6 col-xl-9">
        <div class="row">

          <div class="col-xl-4 mb-3">
            {{-report/data-card
              icon="eye"
              title="Impressions"
              value=views
              percentage=(div views totalViews)
              color="text-info"
              subtitle="In-View impressions"
            }}
          </div>
          <div class="col-xl-4 mb-3">
            {{-report/data-card
              icon="direction"
              title="Clicks"
              value=clicks
              format="0a"
              percentage=(div clicks totalClicks)
              color="text-warning"
              subtitle="Success of online ads"
            }}
          </div>
          <div class="col-xl-4 mb-3">
            {{-report/data-card
              icon="area-graph"
              title="CTR"
              value=(div ctr 100)
              format="0.00%"
              color="text-success"
              subtitle="Click-through rate"
            }}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
