<div class="card-header text-center">
  {{ title }}
</div>
<div class="card-body">
  {{#if isLoading}}
    <small class="text-muted">Loading data...</small>
    {{progress-bar show=true}}
  {{else}}
    {{high-charts series=series options=options}}
  {{/if}}
</div>
