<div class="card-body">
  {{#if title}}
    <h5 class="card-title">{{title}}</h5>
  {{/if}}
  {{#if isLoading}}
    <small class="text-muted">Loading data...</small>
    {{progress-bar show=true}}
  {{else}}
    {{high-charts series=series options=options}}
  {{/if}}
</div>
