<div class="card-body">
  <div class="row">
    <div class="col">
      {{-report/metrics-chart/metric-selector
        selected=selectedMetric
        options=metricOptions
        disabled=isLoading
        onchange=(action "setMetric")
      }}
    </div>
    <div class="col">
      {{-report/metrics-chart/date-selector
        class="float-right"
        disabled=isLoading
        range=(hash start=startDate end=endDate)
        onchange=(action "setDates")
      }}
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      {{-report/metrics-chart/chart}}
    </div>
  </div>
</div>

