{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "manage.user.index"}}{{entypo-icon "users"}} Users{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.email }}{{/crumbs.item}}
{{/nav-breadcrumbs}}

{{#model-form
  model=model
  shouldAutosave=true
  onSubmit=(action "update") as |form|
}}
  <div class="card model-form">
    <div class="card-header"></div>
    <div class="card-body">
      {{ partial "manage/user/form" }}
    </div>
    <div class="card-footer">
      <div class="btn-group float-right">
        {{confirm-button
          icon="trash"
          label="Delete"
          class="btn-danger"
          disabled=isActionRunning
          onConfirm=(action "delete" model.id "manage.user.index")
        }}
      </div>
    </div>
  </div>
{{/model-form}}
