<div class="row">
  <div class="col">
    {{#image-uploader
      isLoading=isActionRunning
      onUploadStart=(action (mut form.model.image null))
      onUploadSuccess=(action form.actions.setAndAutosave "image") as |uploader|
    }}
      <div class="form-group">
        <label for="creative-image">Upload Image</label>
        <div class="custom-file">
          {{input-file
            id="creative-image"
            class="custom-file-input"
            required=true
            accept=uploader.accept
            disabled=isActionRunning
            on-files-changed=(action uploader.actions.upload)
          }}
          <label class="custom-file-label" for="customFile">Choose file</label>
          <div class="invalid-feedback">
            Please select an image for upload.
          </div>
        </div>
      </div>
      {{#if uploader.isLoading}}
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      {{/if}}

      {{#if uploader.error}}
        <div class="alert alert-danger mt-3 mb-0" role="alert">
          <strong>Oh Snap!</strong> {{uploader.error.message}}
        </div>
      {{/if}}
    {{/image-uploader}}
  </div>
</div>

{{#if form.model.image}}

  <div class="row">
    <div class="col-8">
      <h6>Image</h6>
      <small class="d-block">Click the image to set the focal point.</small>
      {{campaign-creative/image class="clickable" image=model.image}}
    </div>
    <div class="col-4">
      <h6>Preview</h6>
      {{#image-crop-preview as |aspectRatios|}}
        {{#each aspectRatios as |aspectRatio|}}
          {{image-crop
            class="mb-3"
            aspectRatio=aspectRatio
            originalSrc=form.model.image.src
            fpX=form.model.image.focalPoint.x
            fpY=form.model.image.focalPoint.y
          }}
        {{/each}}
      {{/image-crop-preview}}
    </div>
  </div>

{{/if}}

