<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{entypo-icon "bar-graph"}}
    {{selected.label}}
  </button>
  <div class="dropdown-menu">
    {{#each options as |option|}}
      <a class="dropdown-item" {{action "setMetric" option}}>{{option.label}}</a>
    {{/each}}
  </div>
</div>
