<div class="card-body">
  <div class="row">
    {{#each model.creatives as |creative|}}
      <div class="mb-3 col-12 col-md-6 col-lg-4">
        {{campaign-creative
          creativeId=creative.id
          campaignId=model.id
          title=creative.title
          teaser=creative.teaser
          status=creative.status
          image=creative.image
        }}
      </div>
    {{/each}}
  </div>
</div>

<div class="card-footer">
</div>

{{model-create-button icon="images" title="Add Creative" click=(route-action "transitionTo" "manage.campaign.edit.creatives.create")}}

{{outlet}}
