{{#model-form
  model=model
  shouldAutosave=true
  onSubmit=(action "update") as |form|
}}
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-8">
        {{ partial "manage/campaign/forms/details" }}
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-lg-0 mb-0">
        {{partial "manage/campaign/summary"}}
      </div>
    </div>
  </div>

  <div class="card-footer">
  </div>
{{/model-form}}
