<nav class="navbar navbar-expand-lg navbar-light navbar-white sticky-top">

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <img class="brand-logo" src="{{ publisherLogo }}" />
      </li>
    </ul>
  </div>
</nav>
