{{#each groups as |group|}}
<div class="row mb-3">
  {{#each group as |creative|}}
    <div class="col-lg-4 mb-3">
      {{campaign-creative campaignId=model.id creative=creative onRemove='onRemove'}}
    </div>
  {{/each}}
</div>
{{/each}}

<div class="row">
  <div class="form-group col">
    <div class="row align-items-end">
      <div class="form-group col-2 offset-10 text-right">
        <button type="submit" class="btn btn-primary btn-block" {{action (route-action "add")}}>
          {{-ion "android-add"}} Add
        </button>
      </div>
    </div>
  </div>
</div>
