<div class="card-body">
  <div class="row">
    {{#each model.creatives as |creative|}}
      <div class="mb-3 col-12 col-md-6 col-lg-4">
        {{campaign-creative campaignId=model.id creative=creative}}
      </div>
    {{/each}}
  </div>
</div>

<div class="card-footer">
</div>

{{model-create-button icon="image" title="Add Creative" click=(action "add")}}
