{{#model-form
  model=model
  shouldAutosave=true
  onSubmit=(action "update") as |form|
}}
  <div class="card-body row">
    <div class="col-lg-8 col-md-6 col-sm-12">
      {{ partial "campaign/forms/details" }}
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      {{partial "campaign/summary"}}
    </div>
  </div>

  <div class="card-footer">
    {{model-save-button disabled=isActionRunning}}
  </div>
{{/model-form}}
