{{placement.publisher.name}}
{{#if placement.topic.name}}
  <span class="text-muted">[{{placement.topic.name}}]</span>
{{/if}}
- {{placement.template.name}}
{{#if placement.name}}
<span class="text-muted">[{{placement.name}}]</span>
{{/if}}
