<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-lg-9 mx-auto">

      <h3 class="font-weight-bold text-muted mb-4">
        <span class="text-uppercase">Story Builder</span>
      </h3>
      {{materials/story-builder class="mb-4" story=model}}
    </div>
  </div>
</div>
