{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "placement.index"}}{{entypo-icon "browser"}} Placements{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}Create New{{/crumbs.item}}
{{/nav-breadcrumbs}}

{{#model-form
  model=model
  shouldAutosave=false
  onSubmit=(action "create") as |form|
}}
  <div class="card model-form">
    <div class="card-header"></div>
    <div class="card-body">
      {{ partial "placement/form" }}
    </div>
    <div class="card-footer">
      {{model-save-button disabled=isActionRunning}}
    </div>
  </div>
{{/model-form}}
