{{#link-to
  "placement.edit" item.id
  class="list-group-item list-group-item-action flex-column align-items-start"
}}
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{item.name}}</h5>
    <small>Modified {{moment-from-now item.updatedAt}}</small>
  </div>

  <div class="mb-1">{{item.publisher.name}}</div>
  <small>ID: {{item.id}}</small>
{{/link-to}}
