{{#if visible}}
  <div class="input-group-append">
    {{auto-save/indicator-icon
      isChanging=input.isChanging
      changeComplete=input.changeComplete
      changeError=input.changeError
    }}
  </div>
{{/if}}
