<div class="row">
  <div class="col">
    <h3 class="mb-0 float-left">
      Modify Template
    </h3>
    {{#-bs/button "success" class="float-right" size="small" outline=true click=(route-action "update" model "template") disabled=(eq model.canSave false)}}
      {{-ion "checkmark-round"}} Save
    {{/-bs/button}}
    {{#-bs/button "danger"  class="float-right mr-1" size="small" outline=true click=(route-action "hardDelete" model "template.index")}}
      {{-ion "android-close"}} Delete
    {{/-bs/button}}
    {{#-bs/button "secondary"  class="float-right mr-1" size="small" outline=true click=(route-action "linkTo" "template.index")}}
      {{-ion "android-arrow-back"}} Back
    {{/-bs/button}}
  </div>
</div>
<hr>

{{partial "template/form"}}
