<div class="row">
  <div class="col">
    <h3 class="mb-0">
      Templates
    </h3>
  </div>
</div>

{{#paginate-models
  models=model
  routeName='template.index'
  totalCount=totalCount
  hasNextPage=hasNextPage
  endCursor=endCursor
  first=first
  after=after
  ascending=ascending
  sortBy=sortBy
  sortOptions=sortOptions
  as |model|
}}
  {{partial 'template/list'}}
{{/paginate-models}}
