{{#link-to 'template.edit' model.id class='list-group-item list-group-item-action flex-column align-items-start'}}
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{model.name}}</h5>
    <small>Modified {{moment-from-now model.updatedAt}}</small>
  </div>

  <div class="mb-1">{{model.publisher.name}}</div>
  <small>{{model.id}}</small>
{{/link-to}}
