<div class="row">
  <div class="col">
    {{partial "manage/story/fields/title"}}
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    {{partial "manage/story/fields/advertiser"}}
  </div>
  <div class="col-lg-6">
    {{partial "manage/story/fields/publisher"}}
  </div>
</div>
