<div class="row justify-content-center align-items-center fixed-center">
  <div class="col col-sm-10 col-md-8 col-lg-6">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">
        {{-ion "alert-circled"}} Houston, we have a problem!
      </h4>
      <p>An error was encountered with this request:</p>
      <code>{{ model.message }}</code>
    </div>
  </div>
</div>
